@tailwind base;
@tailwind components;
@tailwind utilities;


.resturant-menu-details{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
}
.menu-cards{
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 80%;
    margin: auto;

}
.menu-cards > .menu-card{
    border: 1px solid lightgray;
    padding: 12px;
    border-radius: 12px;
}
.menu-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-item{
    border-bottom: 4px solid black;
    margin:10px 0;
}
.menu-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;

}

.Shimmer-menu-div{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

}
.Shimmer-menu-div > .title {
    width: 200px;
    height: 50px;
    background: lightgray;
    padding: 20px;
    margin-bottom: 20px;
    animation: shimmer 2.5s infinite;
    -webkit-mask:linear-gradient(-90deg,#000 30%,#0005,#000 70%) right/300% 100%;


}
.shimmer-menu-item-container{
    /* border: 1px solid lightgray; */

}
.shimmer-menu-item{
    margin: auto;
    width: 60%;
    border: 1px solid lightgray;
    padding: 12px;
    margin-bottom: 20px;
}
.shimmer-menu-item > .div{
    width: 70%;
    animation: shimmer 2.5s infinite;
    -webkit-mask:linear-gradient(-90deg,#000 30%,#0005,#000 70%) right/300% 100%;


}
.shimmer-menu-item > .width{
    background: lightgray;
    margin-bottom: 10px;
    height:10px;
    width:30%;
    animation: shimmer 2.5s infinite;
    -webkit-mask:linear-gradient(-90deg,#000 30%,#0005,#000 70%) right/300% 100%;


}
.shimmer-menu-item > .image{
    background: lightgray;
    margin-bottom: 10px;
    height:400px;
    width: 100%;
    animation: shimmer 2.5s infinite;
    -webkit-mask:linear-gradient(-90deg,#000 30%,#0005,#000 70%) right/300% 100%;


}


.shimmer-menu-item > .desc{
    height: 30px;
    width: 90%;
    background: lightgray;
    margin-bottom: 10px;
    animation: shimmer 2.5s infinite;
    -webkit-mask:linear-gradient(-90deg,#000 30%,#0005,#000 70%) right/300% 100%;


}
.shimmer-menu-item > .name{
    height: 10px;
    width: 70%;
    background: lightgray;
    margin-bottom: 10px;
    animation: shimmer 2.5s infinite;
    -webkit-mask:linear-gradient(-90deg,#000 30%,#0005,#000 70%) right/300% 100%;


}